services:

  basyx-starter-app:
    container_name: basyx-starter-app
    image: basyxstarterapp:latest
    environment:
      - basyx.feature.authorization.rbac.file=file:/app/rules.json
      - spring.security.oauth2.resourceserver.jwt.issuer-uri=http://keycloak:8080/realms/BaSyx
      - org.factoryx.library.hostname=basyx-starter-app
      - spring.data.mongodb.uri=mongodb://mongoAdmin:mongoPassword@mongo
      - spring.data.mongodb.port=27017
      - spring.data.mongodb.database=factoryx-mongo-db
      - spring.data.mongodb.username=mongoAdmin
      - spring.data.mongodb.password=mongoPassword
      - org.factoryx.library.id=${PROVIDER_DID_WEB}
      - org.factoryx.library.validationservice=fxv0_1
      - org.factoryx.library.validationservice.stsapi=dim-wallet
      - org.factoryx.library.fxv01.vaultroottoken=vaultsecret0123456789
      - org.factoryx.library.fxv01.vaulturl=http://vault:8200
      - org.factoryx.library.fxv01.vaultsecretalias=providerdimsecret
      - org.factoryx.library.fxv01.dimtokenurl=${PROVIDER_DIM_TOKEN_URL}
      - org.factoryx.library.fxv01.dimclientid=${PROVIDER_DIM_CLIENT_ID}
      - org.factoryx.library.fxv01.dimurl=${PROVIDER_DIM_URL}
      - org.factoryx.library.fxv01.trustedissuer=${TRUSTED_ISSUER}
      - org.factoryx.library.policyservice=fxv0_1
      - org.factoryx.library.fxv01.bearer=false


    depends_on:
      - mongo
    ports:
      - 8090:8090
      - 5005:5005
    networks:
      - dsp-native-basyx
    extra_hosts:
      - "host.docker.internal:host-gateway"

  mqtt-broker:
    container_name: mqtt-broker
    image: eclipse-mosquitto:2
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
    ports:
      - 1883:1883
    networks:
      - dsp-native-basyx

  consumer-controlplane:
    container_name: consumer-controlplane
    image: ghcr.io/factory-x-contributions/edc-controlplane-postgresql-hashicorp-vault:0.1.2
    pull_policy: missing
    env_file:
      - consumer-controlplane.env
    depends_on:
      - consumer-postgres-controlplane
    entrypoint:  ["java", "-Dedc.fs.config=/app/configuration.properties","-jar", "edc-runtime.jar" ]

    ports:
      - 9000:9000 # Default port
      - 9010:9010 # Data management API
      - 9020:9020 # DSP API
      - 9030:9030 # Validation API
      - 9040:9040 # API for data plane registration
      - 9050:9050 # Control API
      - 9060:9060 # Information API
    networks:
      - dsp-native-basyx

  vault:
    build: ./vault
    container_name: vault
    healthcheck:
      test: [ "CMD-SHELL", "wget -q --spider http://localhost:8200/v1/sys/health" ]
      interval: 4s
      timeout: 3s
      retries: 20
    ports:
      - "127.0.0.1:8200:8200"
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: vaultsecret0123456789
      VAULT_ADDR: http://vault:8200
      VAULT_API_ADDR: http://vault:8200
      VAULT_PUT_SECRETS_DIR: /vault/secrets/
      SKIP_SETCAP: true
      SKIP_CHOWN: true
    volumes:
      - ./vault/secrets:/vault/secrets/
    networks:
      - dsp-native-basyx


  consumer-postgres-controlplane:
    container_name: consumer-postgres-controlplane
    image: postgres:16.4-alpine
    ports:
      - 5433:5432
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=edc-controlplane
    networks:
      - dsp-native-basyx

  keycloak:
    image: keycloak/keycloak:26.2
    container_name: keycloak
    environment:
      KC_HOSTNAME: keycloak
      KC_SPI_INITIALIZER_ISSUER_BASE_URI: http://localhost:8080
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: keycloak-admin
      KC_HEALTH_ENABLED: true
    command: ["start-dev", "--import-realm"]
    ports:
      - 8080:8080

    volumes:
      - keycloak_data:/opt/jboss/keycloak/standalone/data
      - ./keycloak/realm:/opt/keycloak/data/import
    healthcheck:
      test: ['CMD-SHELL', '[ -f /tmp/HealthCheck.java ] || echo "public class HealthCheck { public static void main(String[] args) throws java.lang.Throwable { System.exit(java.net.HttpURLConnection.HTTP_OK == ((java.net.HttpURLConnection)new java.net.URL(args[0]).openConnection()).getResponseCode() ? 0 : 1); } }" > /tmp/HealthCheck.java && java /tmp/HealthCheck.java http://localhost:8080/health/live']
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 60s
    networks:
      - dsp-native-basyx

  mongo:
    image: mongo:5.0.10
    ports:
      - "27017:27017"
    container_name: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongoAdmin
      MONGO_INITDB_ROOT_PASSWORD: mongoPassword
    restart: always
    healthcheck:
      test: mongo
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - dsp-native-basyx

  dsp-native-basyx-dns-host-resolver:
    container_name: resolver
    image: dvdarias/docker-hoster:latest
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock
      - /etc/hosts:/tmp/hosts

volumes:
  keycloak_data:

networks:
  dsp-native-basyx:
    name: dsp-native-basyx
    driver: bridge
