apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "basyxstarterapplication.fullname" . }}
  labels:
    {{- include "basyxstarterapplication.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "basyxstarterapplication.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "basyxstarterapplication.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "basyxstarterapplication.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      volumes:
        - name: rules-config
          configMap:
            name: {{ include "basyxstarterapplication.fullname" . }}-rules
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: JAVA_OPTS
              value: {{ .Values.application.jvm.opts }}
            {{- if not .Values.application.useHsqldb }}
            # secret fields via SecretKeyRef
            - name: SPRING_DATA_MONGODB_PORT
              valueFrom:
                secretKeyRef:
                  name: {{ include "basyxstarterapplication.fullname" . }}-secrets
                  key: mongodb-port
            - name: SPRING_DATA_MONGODB_DATABASE
              valueFrom:
                secretKeyRef:
                  name: {{ include "basyxstarterapplication.fullname" . }}-secrets
                  key: mongodb-database
            - name: SPRING_DATA_MONGODB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ include "basyxstarterapplication.fullname" . }}-secrets
                  key: mongodb-username
            - name: SPRING_DATA_MONGODB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "basyxstarterapplication.fullname" . }}-secrets
                  key: mongodb-password
            - name: SPRING_DATA_MONGODB_URI
              valueFrom:
                secretKeyRef:
                  name: {{ include "basyxstarterapplication.fullname" . }}-secrets
                  key: mongodb-uri
              {{- end }}
          envFrom:
            - configMapRef:
                name: {{ include "basyxstarterapplication.fullname" . }}-config
          volumeMounts:
            - name: rules-config
              mountPath: /app/rules.json
              subPath: rules.json
              readOnly: true
          ports:
            - name: http
              containerPort: 8090
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
