{{- if .Values.secrets.create -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "basyxstarterapplication.fullname" . }}-secrets
  labels:
    {{- include "basyxstarterapplication.labels" . | nindent 4 }}
type: Opaque
stringData:
  mongodb-hostname: {{ .Values.secrets.mongodb.hostname | quote }}
  mongodb-port: {{ .Values.secrets.mongodb.port | quote }}
  mongodb-database: {{ .Values.secrets.mongodb.database | quote }}
  mongodb-username: {{ .Values.secrets.mongodb.username | quote }}
  mongodb-password: {{ .Values.secrets.mongodb.password | quote }}
  uri: {{ printf "mongodb://%s:%s@%s:%d/%s" 
        .Values.secrets.mongodb.username 
        .Values.secrets.mongodb.password 
        .Values.secrets.mongodb.hostname 
        .Values.secrets.mongodb.port 
        .Values.secrets.mongodb.database 
      | b64enc | quote }}
{{- end }}
