{{- if .Values.secrets.create -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "basyxstarterapplication.fullname" . }}-secrets
  labels:
    {{- include "basyxstarterapplication.labels" . | nindent 4 }}
type: Opaque
stringData:
  mongodb-uri: {{ .Values.secrets.mongodb.uri | quote }}
  postgresql-uri: {{ .Values.secrets.postgresql.uri | quote }}
  postgresql-username: {{ .Values.secrets.postgresql.username | quote }}
  postgresql-password: {{ .Values.secrets.postgresql.password | quote }}
{{- end }}
