name: Release Pipeline

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Extract version from Maven (strip -SNAPSHOT)
        id: extract_version
        run: |
          raw_version=$(sed -n 's:.*<version>\(.*\)</version>.*:\1:p' pom.xml | sed -n '1p')
          clean_version=$(echo $raw_version | sed 's/-SNAPSHOT//')
          echo "Raw version: $raw_version"
          echo "Clean version: $clean_version"
          echo "version=$clean_version" >> $GITHUB_OUTPUT

      - uses: rickstaa/action-create-tag@v1
        id: "tag_create"
        with:
          tag: v${{ steps.extract_version.outputs.version }}
          tag_exists_error: false
          message: "New release of the DSP BaSyx."
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ steps.extract_version.outputs.version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  publish:
    needs: release
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
  
    steps:
      - uses: actions/checkout@v4

      - name: Extract version from Gradle (strip -SNAPSHOT)
        id: extract_version
        run: |
          raw_version=$(sed -n 's:.*<version>\(.*\)</version>.*:\1:p' pom.xml | sed -n '1p')
          clean_version=$(echo $raw_version | sed 's/-SNAPSHOT//')
          echo "Raw version: $raw_version"
          echo "Clean version: $clean_version"
          echo "version=$clean_version" >> $GITHUB_OUTPUT
  
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
  
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/dsp-native-basyx
          tags: |
            type=semver,pattern={{version}},value=${{ steps.extract_version.outputs.version }}
            type=semver,pattern={{major}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{raw}}
            type=raw,value=latest,enable=true
            type=sha

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
  
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          context: .
          secrets: |
            "github-token=${{ secrets.GITHUB_TOKEN }}"
            "github-actor=${{ github.actor }}"
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
